header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d8dd8;
}

.blog-logo {
    border-radius: 50%;
    height: 80%;
    box-shadow: 1px 1px 20px 0px #5e5e5e;
    margin-right: 14px;
}

.blog-title {
    color: #002030;
    text-shadow: 1px 1px 1px #727272;
}