@import url(./header.css);
@import url(./nav-bar.css);
@import url(./card.css);
@import url(./footer.css);
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 120px 30px 1fr 30px;
  grid-template-columns: 100vw;
  height: 100vh;
}

main {
  background-color: #70cfff70;
  display: grid;
  padding: 20px;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-around;
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 0.8fr;
  }
  .blog-title {
    font-size: 1.5em;
  }
  .blog-logo {
    margin-left: 14px;
  }
  nav {
    padding: 0;
  }
  .post-card__link {
    margin-bottom: 0.5em;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-title {
    font-size: 1.5em;
  }
  .blog-logo {
    margin-left: 14px;
  }
  nav {
    padding: 0;
  }
  .post-card__link {
    margin-bottom: 1em;
  }
}